*{
	padding:0;
	margin:0;
	}
body{
	background-color:#CCC;}
h1{
	font-size:60px;
	text-align:center;
	margin:10px;}
.wrapper{
	background-color:#FFF;
	width:1200px;
	margin:20px auto;
	padding:20px;
	display:flex;
	justify-content:space-around;
	font-size:20px;
	}

.box{
	width:30%;
	padding:20px;
	box-sizing:border-box;
	border:#333 3px solid;
	border-radius:20px;
	}
/*==============================*/
.box1{
	background-color:#F90;
	}

/*==============================*/
.box2{
	background-color:#9C0;
}

/*==============================*/	
.box3{
	background-color:#09F;
}


	
/*======字型嵌入======*/







