ul{
	padding-left:0;
	display: flex;
	/* 水平排列 */
	justify-content: center;
	/* 水平居中對齊 */

}

li{
	list-style-type:none;
}

li a{
	display: block;
	width: 200px;
	height: 50px;
	background-color:#690;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:50px;
	/* margin-bottom:10px; */
    margin-right:0  10px;
}

li a:hover{
	background-color:#06C;
	color:#FF6;	}

p {
	text-align: left;
	/* 自動水平居中 */
}