*{
	padding:0;
	margin:0;}
	
body{
	background-color:#E3E1C6;}
.wrapper{
	width:1200px;
	background-color:#FFF;
	margin:0 auto;}

.header{
	border-top:#066 20px solid;
	border-bottom:#066 20px solid;}

.header img{
	vertical-align:bottom;}

/* 對母盒下flex */

.box{
	display: flex;
	/* width: 1200px; */
	justify-content: center;
	flex-wrap: wrap;
	/* 無論有多少東西，排成一排，會折行 */
	flex-direction: row-reverse;
	/* 這是預設的排法，如果要用column，要設定高度 */
	/* flex-direction: column-reverse;
	height: 1000px; */
    /* align-items: start; */
	/* align-items: flex-start; */
	/* align-content: stretch; */
	height: 1200px;
	align-content: center;

}

.box div{
	/* width: 300px; */
	/* width: 30%; */
	box-sizing: border-box;
	width: calc(100%/3);
	padding: 10px 20px;
	justify-content:baseline
}

.box .b1{
 background-color: #e7de69;

}

.box .b2 {
	background-color: #ec2121;
}

.box .b3 {
	background-color: #43e41f;
}

.box .b4 {
	background-color: #f40edd;

}

.box .b5 {
	background-color: #f8e912;

}

.box .b6 {
	background-color: #dc9393;
}